.video {
    padding-top: 115px;
}

.video__bg {
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .embed-responsive {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media(max-width: 767px) {
    .video {
        padding-top: 50px;
    }
}